.titleBarMainDiv{
    height: 10em;
}

.firstDiv{
    height: 5em;
}

.titleBarLogoDiv{
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: teal;
}
.cartDiv{
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;

}
.searchInputDiv{
    padding-top: 1.5em !important;
}
.titlemenuBarDiv{
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: teal;
}